<% page_title_tag t("label.libraries") %>

<div class='o-container o-container--narrow'>
  <% unless native_app? %>
    <h1 class='u-my-narrow'><%= t("label.libraries") %></h1>
  <% end %>

  <% if @libraries.empty? %>
    <div class='u-mt-wide'>
      <%= empty_alert_tag has_icon: true, has_overlay: false %>
    </div>
  <% else %>
    <ul class='c-list c-list--grouped u-mb-large'>
      <% @libraries.each do |library| %>
        <li class='c-list__item'>
          <span class='o-flex o-flex--align-center o-flex--justify-between'>
            <span class='o-flex o-flex--align-center u-text-size-large'>
              <%= icon_tag "album", class: "u-mr-tiny" %>
              <%= library.name %>
            </span>
            <% if library.id == @active_library&.id %>
              <span class='c-badge'><%= t("label.library") %></span>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @active_library %>
    <ul class='c-list c-list--grouped'>
      <li class='c-list__item'>
        <%= link_to albums_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "album", class: "u-mr-tiny" %>
            <%= t("label.albums") %>
          </span>
          <span class='c-badge'><%= format_number(@albums.size) %></span>
        <% end %>
      </li>
      <li class='c-list__item'>
        <%= link_to artists_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "mic", class: "u-mr-tiny" %>
            <%= t("label.artists") %>
          </span>
          <span class='c-badge'><%= format_number(@artists.size) %></span>
        <% end %>
      </li>
      <li class='c-list__item'>
        <%= link_to songs_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "music-note", class: "u-mr-tiny" %>
            <%= t("label.songs") %>
          </span>
          <span class='c-badge'><%= format_number(@songs.size) %></span>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
