<% page_title_tag t("label.libraries") %>

<div class='o-container o-container--narrow'>
  <div class='o-flex o-flex--justify-between o-flex--align-center u-my-narrow'>
    <% unless native_app? %>
      <h1 class='u-mb-0'><%= t("label.libraries") %></h1>
    <% end %>
    <span class='o-flex o-flex--align-center'>
      <%= link_to t("label.redeem_invite"), new_redemption_path, class: "c-button u-mr-tiny" %>
      <% if is_admin? %>
        <%= link_to t("label.new_library"), new_library_path, class: "c-button c-button--primary" %>
      <% end %>
    </span>
  </div>

  <% if @libraries.empty? %>
    <div class='u-mt-wide'>
      <%= empty_alert_tag has_icon: true, has_overlay: false %>
    </div>
  <% else %>
    <ul class='c-list c-list--grouped u-mb-large'>
      <% @libraries.each do |library| %>
        <li class='c-list__item o-flex o-flex--align-center o-flex--justify-between'>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "album", class: "u-mr-tiny" %>
            <%= library.name %>
            <% unless library.local? %>
              <span class='c-badge u-ml-tiny'><%= t("label.remote") %></span>
              <% if library.library_connection && !library.library_connection.active? %>
                <span class='c-badge u-ml-tiny'><%= t("connection_status.#{library.library_connection.status}") %></span>
              <% end %>
            <% end %>
          </span>
          <span class='o-flex o-flex--align-center'>
            <% if library.id == @active_library&.id %>
              <span class='c-badge'><%= t("label.active") %></span>
            <% else %>
              <%= button_to t("button.set_active"), active_library_path, method: :patch, params: { library_id: library.id }, class: "c-button" %>
            <% end %>
            <% if is_admin? && library.local? %>
              <%= link_to t("button.share"), library_access_grants_path(library), class: "c-button u-ml-tiny" %>
              <%= link_to t("button.rename"), edit_library_path(library), class: "c-button u-ml-tiny" %>
              <% unless library.is_default? %>
                <%= button_to library_path(library), method: :delete, class: "c-button c-button--icon", form: { data: { turbo_confirm: t("text.confirm_delete_library") } } do %>
                  <%= icon_tag "delete", size: "small", title: t("button.delete") %>
                <% end %>
              <% end %>
            <% end %>
            <% if !library.local? && library.library_connection.present? %>
              <%= button_to library_connection_path(library.library_connection), method: :delete, class: "c-button c-button--icon u-ml-tiny", form: { data: { turbo_confirm: t("text.confirm_disconnect_library") } } do %>
                <%= icon_tag "delete", size: "small", title: t("button.disconnect") %>
              <% end %>
            <% end %>
          </span>
        </li>
      <% end %>
    </ul>
  <% end %>

  <% if @active_library %>
    <ul class='c-list c-list--grouped'>
      <li class='c-list__item'>
        <%= link_to albums_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "album", class: "u-mr-tiny" %>
            <%= t("label.albums") %>
          </span>
          <span class='c-badge'><%= format_number(@albums.size) %></span>
        <% end %>
      </li>
      <li class='c-list__item'>
        <%= link_to artists_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "mic", class: "u-mr-tiny" %>
            <%= t("label.artists") %>
          </span>
          <span class='c-badge'><%= format_number(@artists.size) %></span>
        <% end %>
      </li>
      <li class='c-list__item'>
        <%= link_to songs_path, class: "o-flex o-flex--justify-between" do %>
          <span class='o-flex o-flex--align-center u-text-size-large'>
            <%= icon_tag "music-note", class: "u-mr-tiny" %>
            <%= t("label.songs") %>
          </span>
          <span class='c-badge'><%= format_number(@songs.size) %></span>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
