<%# The Libraries the Host may share are scoped to the Libraries the current
    User is authorized to access (Req 4.7), so the picker only offers content the
    Host can actually share. %>
<% authorized_libraries = Library.where(id: Current.user.authorized_library_ids).order(:name) %>
<%= form_with model: party_session, class: "c-form" do |form| %>
  <div class='c-form__field'>
    <%= form.label :session_duration_kind, t("party_session.field.session_duration") %>
    <%= form.select :session_duration_kind, PartySession.session_duration_kinds.keys.map { |value| [ t("party_session.duration_kind.#{value}"), value ] }, {}, class: "c-input" %>
    <small><%= t("party_session.text.session_duration") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :session_duration_value, t("party_session.field.session_duration_value") %>
    <%= form.number_field :session_duration_value, class: "c-input", min: 1 %>
    <small><%= t("party_session.text.session_duration_value") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :duplicate_policy, t("party_session.field.duplicate_policy") %>
    <%= form.select :duplicate_policy, PartySession.duplicate_policies.keys.map { |value| [ t("party_session.duplicate_policy.#{value}"), value ] }, {}, class: "c-input" %>
    <small><%= t("party_session.text.duplicate_policy") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :max_guests, t("party_session.field.max_guests") %>
    <%= form.number_field :max_guests, class: "c-input", min: 1 %>
    <small><%= t("party_session.text.max_guests") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :guest_add_quota, t("party_session.field.guest_add_quota") %>
    <%= form.number_field :guest_add_quota, class: "c-input", min: 0 %>
    <small><%= t("party_session.text.guest_add_quota") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :guest_add_rate_per_minute, t("party_session.field.guest_add_rate_per_minute") %>
    <%= form.number_field :guest_add_rate_per_minute, class: "c-input", min: 0 %>
    <small><%= t("party_session.text.guest_add_rate_per_minute") %></small>
  </div>

  <div class='c-form__field'>
    <%= form.label :shared_library_ids, t("party_session.field.shared_libraries") %>
    <small><%= t("party_session.text.shared_libraries") %></small>
    <% if authorized_libraries.empty? %>
      <p class='u-text-color-secondary u-mt-tiny'><%= t("party_session.text.no_authorized_libraries") %></p>
    <% else %>
      <%= form.collection_check_boxes :shared_library_ids, authorized_libraries, :id, :name do |builder| %>
        <label class='o-flex o-flex--align-center u-mb-tiny'>
          <%= builder.check_box(class: "u-mr-tiny") %>
          <%= builder.text %>
        </label>
      <% end %>
    <% end %>
  </div>

  <div class='c-form__field c-form__field--submit'>
    <%= form.submit t("button.save"), class: "c-button c-button--primary c-button--full-width" %>
  </div>
<% end %>
